@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

:root {
  --bg-body: #1b1e23;
  --color-primary: #dbc277;
  --color-secondary: #cdb88d;
  --color-light: #e2e8ec;
  --color-dark: #1b1e23;
  --background-gradient-dark: linear-gradient(145deg, #181b20, #1d2025);
  --box-shadow: 20px 20px 60px #171a1e, -20px -20px 60px #1f2328;
  --box-shadow-small: 2px 2px 6px #171a1e, -2px -2px 6px #1f2328;
  --font-family: 'Montserrat', sans-serif;
  --font-family-head: 'Cormorant Garamond', serif;
}

[data-theme='dark'] {
  --bg-body: #f5f5f5;
  --color-primary: #3166ac;
  --color-secondary: #3a3560;
  --color-light: #000000;
  --color-dark: #f6fbff;
  --background-gradient-dark: linear-gradient(145deg, #dde2e6, #ffffff);
  --box-shadow: 20px 20px 60px #d1d5d9, -20px -20px 60px #ffffff;
  --box-shadow-small: 2px 2px 6px #d1d5d9, -2px -2px 6px #ffffff;
  --font-family: 'Montserrat', sans-serif;
  --font-family-head: 'Crimson Text', serif;
}
