*{
    margin: 0;
    padding: 0; 
    border: none;
    outline: none;   
    font-family: var(--font-family);
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.body {
    background: var(--bg-body);
    min-height: 100vh;
}

/* .container.gallery-container {
    background: linear-gradient(225deg, #181b20, #1d2025);
    box-shadow:  -20px 20px 60px #171a1e,20px -20px 60px #1f2328;
    color: var(--color-primary);
    min-height: 100vh;
    border-radius: 20px;
    
} */

.head-jtj{
    position: fixed;
    z-index: 2;
    width: 100%;
    background: var(--bg-body);
    top: 0;
}

.nav-jtj{
    font-size: 17px;
    padding-right: 30px;
}

.nav-jtj li{
    padding: 0px 20px;
}

.top-bar .navbar .nav-jtj li a{
    color: var(--color-light);
}

.top-bar .navbar .nav-jtj li:hover a{
    color: var(--color-light);
} 


.top-bar .navbar button{
    color: var(--color-light);
}

.nav-item{
    font-weight: 500;
    font-size: large;
}


.gallery-container h1 {
    padding-top: 20px;
    text-align: center;
    margin-top: 70px;
    font-family: var(--font-family-head);
    font-weight: 300;
    font-size: 4rem;
    color: var(--color-secondary);
}


.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: var(--color-secondary);
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}

footer{
    background: var(--bg-body);
    border-top: 1px solid var(--color-light);
    padding-top: 10px;
    text-align: center;
}

footer .footer p{
    color: var(--color-light);
}

.footer-icons{
    color: var(--color-light);
    padding: 15px;
}

.footer-icons:hover{
    color: var(--color-secondary);
}

.contact-description-mail{
    color: var(--color-light);
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}